<%- include('./layout/app.ejs') %>
    <div id="chat-container">
      <div id="search-container">
        <input type="text" placeholder="Search" />
      </div>
      <div id="conversation-list">
        <% data.forEach(function(conversation){ %>
          <% if(conversation.creator.id == loggedInUser.userId) { %>
        <div class="conversation active">
          <% if(conversation.participant.avatar) { %>
          <img src="./uploads/avatars/<%= conversation.participant.avatar %>" alt="<%= conversation.participant.name %>" />
          <% } else { %>
            <img src="./images/nophoto.png" alt="<%= conversation.participant.name %>" />
          <% } %>
          <div class="title-text"><%= conversation.participant.name %></div>
          <di class="created-date"> Apr 16 </di>
          <div class="conversation-message">
            Love you janu <span style="color: red">&hearts;</span>
          </div>
        </div>

        <% } else { %>
          
          <div class="conversation active">
            <% if(conversation.creatot.avatar) { %>
            <img src="./uploads/avatars/<%= conversation.creatot.avatar %>" alt="<%= conversation.creatot.name %>" />
            <% } else { %>
              <img src="./images/nophoto.png" alt="<%= conversation.creatot.name %>" />
            <% } %>
            <div class="title-text"><%= conversation.creatot.name %></div>
            <di class="created-date"> Apr 16 </di>
            <div class="conversation-message">
              Love you janu <span style="color: red">&hearts;</span>
            </div>
          </div>
        <% } %>
        <% }) %>
      </div>
      <div id="new-message-container">
        <a href="#" onclick="openModal()">+</a>
      </div>
      <div id="chat-title">
        <span>Mamun</span>
        <img src="./images/trash.png" alt="Delete Conversation" />
      </div>
      <div id="chat-message-list">
        <div class="message-row other-message">
          <div class="message-content">
            <img src="./images/user1.png" alt="Mamun" />
            <div class="message-text">
              Love you too
              <span style="color: red">&hearts; &hearts; &hearts;</span>
            </div>
            <div class="message-time">Apr 16</div>
          </div>
        </div>
        <div class="message-row you-message">
          <div class="message-content">
            <div class="message-text">
              Love you janu <span style="color: red">&hearts;</span>
            </div>
            <div class="message-time">Apr 16</div>
          </div>
        </div>
      </div>
      <div id="chat-form">
        <img src="./images/attachment.png" alt=Add Attachment"" />
        <input type="text" placeholder="Type a message" />
      </div>
    </div>

    <div class="modal-wrapper">
      <div class="modal">
        <a href="#" class="modal-close">+</a>
        <div class="modal-title">
          <h2>Create New Conversation</h2>
        </div>
        <div class="modal-body">
          <form>
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Username" />
            <input type="button" value="Submit" />
          </form>
        </div>
      </div>
    </div>

    <%- include('./partials/add-conversion-modal.ejs') %>

  </body>
</html>
