<%- include('./layout/app.ejs') %>
    <div id="chat-container">
      <div id="search-container">
        <input type="text" placeholder="Search" />
      </div>
      <div id="conversation-list">
        <% data.forEach(function(conversation){ %>
          <% if(conversation.creator.id == loggedInUser.userId) { %>
        <div class="conversation active" onclick="getMessages('<%= conversation._id %>', '<%= conversation.participant.name %>')">
          <% if(conversation.participant.avatar) { %>
          <img src="./uploads/avatars/<%= conversation.participant.avatar %>" alt="<%= conversation.participant.name %>" />
          <% } else { %>
            <img src="./images/nophoto.png" alt="<%= conversation.participant.name %>" />
          <% } %>
          <div class="title-text"><%= conversation.participant.name %></div>
          <di class="created-date"><%= conversation.last_update %></di>
          <div class="conversation-message">
            Love you janu <span style="color: red">&hearts;</span>
          </div>
        </div>

        <% } else { %>

          <div class="conversation active" onclick="getMessages('<%= conversation._id %>', '<%= conversation.participant.name %>')">
            <% if(conversation.creator.avatar) { %>
            <img src="./uploads/avatars/<%= conversation.creator.avatar %>" alt="<%= conversation.creator.name %>" />
            <% } else { %>
              <img src="./images/nophoto.png" alt="<%= conversation.creator.name %>" />
            <% } %>
            <div class="title-text"><%= conversation.creator.name %></div>
            <di class="created-date"> Apr 16 </di>
            <div class="conversation-message">
              Love you janu <span style="color: red">&hearts;</span>
            </div>
          </div>
        <% } %>
        <% }) %>
      </div>
      <div id="new-message-container">
        <a href="#" onclick="openModal()">+</a>
      </div>
      <div id="chat-title">
        <span>Mamun</span>
        <img src="./images/trash.png" alt="Delete Conversation" />
      </div>
      <!-- <div id="chat-message-list">
        <div class="message-row other-message">
          <div class="message-content">
            <img src="./images/user1.png" alt="Mamun" />
            <div class="message-text">
              Love you too
              <span style="color: red">&hearts; &hearts; &hearts;</span>
            </div>
            <div class="message-time">Apr 16</div>
          </div>
        </div>
        <div class="message-row you-message">
          <div class="message-content">
            <div class="message-text">
              Love you janu <span style="color: red">&hearts;</span>
            </div>
            <div class="message-time">Apr 16</div>
          </div>
        </div>
      </div> -->
      <div id="chat-message-list">
        <div class="nothing">select a conversation</div>
      </div>
      <div id="chat-form">
        <img src="./images/attachment.png" alt=Add Attachment"" />
        <input type="text" placeholder="Type a message" />
      </div>
    </div>

    <div class="modal-wrapper">
      <div class="modal">
        <a href="#" class="modal-close">+</a>
        <div class="modal-title">
          <h2>Create New Conversation</h2>
        </div>
        <div class="modal-body">
          <form>
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Username" />
            <input type="button" value="Submit" />
          </form>
        </div>
      </div>
    </div>

    <%- include('./partials/add-conversion-modal.ejs') %>

    <script>
    
      const chatForm = document.querySelector("#chat-form");
      const messageContainer = document.querySelector("#chat-message-list")
      let participant = null;
      let current_conversation_id;
      
      //get messages fo a conversion
      async function getMessages(conversationId, paticipantName){
        const response = await fetch(`inbox/messages/${conversationId}`);
        const result = await response.json();

        if(!result.errors && result.data){
          chatForm.style.visibility = 'visible';

          const { data, user, conversationd_id } = result;

          participant = data.participant;
          current_conversation_id = conversation_id;

          if(data.messages){
            
            let allMessages = '';

            if(data.messages.length > 0){
              data.messages.forEach((message) => {
                let senderAvatar = message.sender.avatar ? `uploads/avatars/${message.sender.avatar}` : 'images/nophoto.png';
                const messageClass = message.sender._id === loggedInUserId ? 'you-message' : 'other-message';
                const showAvatar = message.sender._id === loggedInUserId ? '' : `<img src="${senderAvatar}" alt="${message.sender.name}" />`;

                let attachments = '<div class="attachments">';

                if(message.attachment && message.attachment.length > 0){
                  message.attachment.forEach((attachment) => {
                    attachments += `<img src="uploads/attachemts/${message.attachment}" ?>`;
                  })
                }

                attachments += "</div>";

                //final message
                let messageHtml = `<div class="message-row ${messageClass}">
                  ${showAvatar}
                  <div class="message-text">${message.text}</div>
                  ${attachments}
                  <div class="message-time">${message.date_time}</div>
                  </div>
                  `;

                  allMessages +=  messageHtml;
                  messageContainer.innerHtml = allMessages;
              })
            }
          } else {
            
          }
        } else {

        }
      }
    </script>

  </body>
</html>
