<%- include('./layouts/app') %>
    <div id="widget-area" class="z-20 items-center">
        <div class="widget-wrapper bg-light-color w-0 invisible transition-weight ease-out duration-300">
            <div class="p-4 flex items-center flex-col gap-3 justify-center h-screen">
                <h2 class="text-2xl text-dark-color font-bold">Theme Setting</h2>
                <div class="flex flex-col gap-3">
                    <button class="p-2 rounded-md" style="background-color: rgb(229 231 235 / 0.4);" onclick="setTheme('default')">Default</button>
                    <button class="p-2 rounded-md" style="background-color: rgb(31 41 55);" onclick="setTheme('dark')">Dark</button>
                    <button class="p-2 rounded-md" style="background-color: rgb(29 78 216);" onclick="setTheme('blue')">Blue</button>
                    <button class="p-2 rounded-md" style="background-color: #29a12e;" onclick="setTheme('green')">Green</button>
                    <button class="p-2 rounded-md" style="background-color: #1b3632;" onclick="setTheme('call')">Call</button>
                </div>
            </div>
        </div>
        <div class="angle relative flex items-center justify-center ml-3 widget-toggle cursor-pointer w-3 h-14 " >
            <div class="h-4 w-1 rounded-full bg-light-color rotate-[150deg] absolute mb-[.6rem]" style="background-color: white;" ></div>
            <div class="h-4 w-1 rounded-full bg-light-color rotate-[30deg] absolute mt-[.7rem]" style="background-color: white;" ></div>
        </div>
    </div>
    <div class="h-screen flex items-center justify-center ">
        <div class='flex flex-col items-center justify-center p-3 sm:p-0 w-full sm:w-10/12 h-screen overflow-hidden mx-auto'>
            <div class="main-content-wrapper chat-shell flex justify-between w-full h-[90vh] overflow-hidden p-1 rounded-lg shadow-md bg-clip-padding bg-dark-color backgrop-glass bg-opacity-0">
                <!-- <div class=""> -->
                    <div class="chat-sidebar flex flex-col w-full sm:w-4/12 border-r border-gray-400">
                        <div class="relative flex items-center justify-between h-14 px-3 py-2 bg-light-color">
                            <% if(loggedInUser.avatar){ %>
                                <img src="./uploads/avatars/<%= loggedInUser.avatar %>" alt="" class="w-10 h-10 rounded-full cursor-pointer" id="user-avatar">
                            <% }else{ %>
                                <div class="bg-light-color hover:bg-dark-color flex items-center justify-center text-neutral-content rounded-full w-10 h-10 cursor-pointer" id="user-avatar">
                                    <span class="text-3xl"><%= loggedInUser.username[0].toUpperCase() %></span>
                                </div>
                            <% } %>
                            <div class="hidden sm:flex gap-4 items-center justify-end ">
                                <a href="/users">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-soft-color cursor-pointer hover:text-color">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                                    </svg>
                                </a>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-soft-color cursor-pointer hover:text-color">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 3.75H6A2.25 2.25 0 0 0 3.75 6v1.5M16.5 3.75H18A2.25 2.25 0 0 1 20.25 6v1.5m0 9V18A2.25 2.25 0 0 1 18 20.25h-1.5m-9 0H6A2.25 2.25 0 0 1 3.75 18v-1.5M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-soft-color cursor-pointer hover:text-color conversation-create-btn">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m3.75 9v6m3-3H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                                </svg>
                                                                                    
                                <div class="relative" >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-soft-color cursor-pointer hover:text-color " id="header-dots">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
                                    </svg>
                                    <div class="dropdown min-w-max absolute right-0 top-8 py-3 bg-light-color app-shadow-2xl hidden opacity-0 rounded-md" id="header-dots-dropdown">
                                        <div class="text-color">
                                            <a href="" class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                              </svg>
                                               New Message</a>
                                            <a href="" class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer">Select Chats</a>
                                            <a href="" class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 0 1 1.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.559.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.894.149c-.424.07-.764.383-.929.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 0 1-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.398.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 0 1-.12-1.45l.527-.737c.25-.35.272-.806.108-1.204-.165-.397-.506-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.108-1.204l-.526-.738a1.125 1.125 0 0 1 .12-1.45l.773-.773a1.125 1.125 0 0 1 1.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894Z" />
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                                  </svg>
                                                  
                                                  Settings</a>
                                            <a class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer " onclick="logout()">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                                                  </svg>
                                                  
                                                Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Profile off canvas menu start -->
                            <%- include('./partials/profile') %>
                            <!-- Profile off canvas menu end -->

                            <!-- conversation create off canvas menu start -->
                            <%- include('./partials/conversation_create') %>
                            <!-- conversation create off canvas menu end -->
                        </div> 
                        <!-- conversation search start -->
                        <div class="hidden sm:flex items-center gap-3 justify-between h-8 my-2 px-3">
                            <div class="flex gap-4 items-center w-full bg-light-color rounded-md px-3 p-1 text-soft-color">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-soft-color cursor-pointer hover:text-color">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                </svg>
                                <input type="text" placeholder="Search" class="conversation-search-input bg-transparent focus:outline-none border-none" onkeyup="filterConversationDataset(event)">
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-soft-color cursor-pointer hover:text-color">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                            </svg>
                        </div>
                        <!-- conversation search end -->

                        <!-- conversation list start -->
                        <div id="conversation-content-wrapper" class="h-[76vh] overflow-y-scroll chat-content-wrapper ">
                            <!-- <% if(data && data.length === 0) { %>
                            <div class="flex flex-col items-center gap-3 justify-center text-center p-2 sm:px-3 py-2 h-full text-soft-color hover-bg-light-color cursor-pointer">
                                <div>
                                    <img src="./images/no-conversation.png" alt="" class="w-32">
                                </div>
                                <div>
                                    <h3 class="text-md font-bold">No conversation yet</h3>
                                    <p>Create conversation to contact others</p>
                                </div>
                            </div>
                            <% } %> -->
                        </div>
                        <!-- conversation list end -->

                    </div>
                    <div class="chat-panel flex flex-col w-full sm:w-8/12 justify-between ">
                        <div id="chat-message-title-container" class="flex items-center justify-between px-3 h-14 bg-light-color invisible">
                            <div class="flex items-center gap-2 text-color">
                                <button id="chat-back-btn" class="sm:hidden p-2 rounded-md bg-dark-color hover-bg-dark-color" type="button" aria-label="Back to conversations">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                                    </svg>
                                </button>
                                <div id="chat-message-avatar-container">
                                    <img src="./images/logo.png" alt="" class="w-10 h-10 rounded-full">
                                </div>
                                <div class="leading-none">
                                    <h3 id="chat-message-title-name" class="text-lg font-bold"></h3>
                                    <div id="user-online-status-text-container"></div>
                                </div>
                            </div>
                            <div class="flex gap-4 items-center justify-end ">
                                <button type="button" class="call-action-btn hidden" id="add-members-icon" title="Add member">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-soft-color cursor-pointer hover:text-color">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                                    </svg>
                                </button>
                                <a href="/call" class="call-action-btn" data-call-type="voice" title="Voice call">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-soft-color cursor-pointer hover:text-color">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 7.284 5.716 13 13 13h1.5a2.25 2.25 0 0 0 2.25-2.25v-1.372a1.125 1.125 0 0 0-.852-1.091l-4.423-1.106a1.125 1.125 0 0 0-1.173.417l-.97 1.293a1.125 1.125 0 0 1-1.21.38 12.035 12.035 0 0 1-7.143-7.143 1.125 1.125 0 0 1 .38-1.21l1.293-.97a1.125 1.125 0 0 0 .417-1.173L4.716 3.102A1.125 1.125 0 0 0 3.625 2.25H2.25v4.5Z" />
                                    </svg>
                                </a>
                                <a href="/call" class="call-action-btn" data-call-type="video" title="Video call">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-soft-color cursor-pointer hover:text-color">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m15.75 10.5 4.72-2.36A1.125 1.125 0 0 1 22.5 9.147v5.706a1.125 1.125 0 0 1-2.03 1.007l-4.72-2.36m0 0v-3Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 7.5A2.25 2.25 0 0 1 6 5.25h6A2.25 2.25 0 0 1 14.25 7.5v9A2.25 2.25 0 0 1 12 18.75H6A2.25 2.25 0 0 1 3.75 16.5v-9Z" />
                                    </svg>
                                </a>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-soft-color cursor-pointer hover:text-color" id="message-search-icon">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                    </svg>

                                <input type="text" placeholder="Search" class="bg-transparent focus:outline-none border-none w-full" style="display: none;" id="message-search-input">
                                                
                                <div class="relative" >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-soft-color cursor-pointer hover:text-color " id="message-dots">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
                                    </svg>
                                    <div class="dropdown min-w-max absolute right-0 top-8 py-3 bg-light-color app-shadow-2xl hidden opacity-0 rounded-md" id="message-dots-dropdown">
                                        <div class="text-color">
                                            <a href="" class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                                </svg>Contact Info</a>
                                            <a href="" class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer">Select Messages</a>
                                            <a href="" class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                                                </svg>Close Chat</a>
                                            <a href="" class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                                                </svg>Mute Notifications</a>
                                            <a class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer" onclick="deleteMeassage()">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                                </svg>Delete Chat</a>
                                                <% if(loggedInUser.role == 'Admin'){ %>
                                                <a class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer" onclick="clearMessage()" id="clear-message-item">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                                                    </svg>Clear Chat</a>
                                                <% } %>
                                            <a class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer" onclick="leaveGroup()" id="leave-group-item" style="display: none;">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6A2.25 2.25 0 0 0 5.25 5.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                                                </svg>Leave Group</a>
                                            <div class="chat-message-block-container">
                                                <div class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer " onclick="userBlock()">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636" />
                                                    </svg>Block</div>
                                            </div>
                                            <a href="" class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                                                </svg>Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="pinned-message-container" class="pinned-message hidden"></div>
                        <div id="chat-message-list" class="chat-message-list flex flex-col gap-4 h-[calc(85vh-112px)] p-3 overflow-y-scroll">
                            <div id="inline-add-member-panel" class="inline-add-member hidden">
                                <div class="inline-add-member-header">
                                    <span>Add member</span>
                                    <button id="inline-add-member-close" type="button" aria-label="Close">×</button>
                                </div>
                                <div class="inline-add-member-input">
                                    <input type="text" id="inline-add-member-input" placeholder="Search member" autocomplete="off">
                                </div>
                                <div id="inline-add-member-results" class="inline-add-member-results"></div>
                            </div>
                            <div id="typing-indicator" class="typing-indicator hidden">
                                <div class="typing-dots">
                                    <span></span><span></span><span></span>
                                </div>
                                <span class="typing-label">Typing...</span>
                            </div>
                            
                            <div class="flex gap-2 text-soft-color items-center justify-center h-full">
                                <h1 class="text-2xl font-bold">Select a conversation</h1>
                            </div>
                            <!-- First message aligned to the left -->
                            <!-- <div class="flex gap-2 text-soft-color items-start">
                                <img src="./images/logo.png" alt="" class="w-10 h-10 rounded-full">
                                <div class="w-6/12">
                                    <div class="message-text bg-light-color text-sm rounded-md p-2">Hi Mr Anonymous</div>
                                    <div class="attachments grid grid-cols-2 gap-2 mt-2 bg-light-color p-2 rounded-md">
                                        <img src="./images/logo.png" alt="" class="rounded-md h-auto w-full">
                                        <img src="./images/logo.png" alt="" class="rounded-md h-auto w-full">
                                        <img src="./images/logo.png" alt="" class="rounded-md h-auto w-full col-span-2">
                                    </div>
                                    <div class="text-sm text-color mt-1">just now</div>
                                </div>
                            </div> -->
                            <!-- Second message aligned to the right -->
                            <!-- <div class="flex gap-2 text-soft-color items-end justify-end">
                                <div class="w-6/12">
                                    <div class="message-text bg-light-color text-sm rounded-md p-2">Hi Mr Anonymous</div>
                                    <div class="attachments grid grid-cols-1 mt-2 bg-light-color p-2 rounded-md">
                                        <img src="./images/logo.png" alt="" class="rounded-md w-full h-auto">
                                    </div>
                                    <div class="text-sm text-color mt-1">just now</div>
                                </div>
                            </div> -->
                        </div>
                        <!-- chat-form-container start -->
                        <div id="chat-form-container" class="bg-light-color text-soft-color invisible relative">
                            <div class="blocked-message-form-container grid grid-cols-1 content-center text-center hidden"></div>
                            <div id="typing-indicator-input" class="typing-indicator hidden typing-indicator-input">
                                <div class="typing-dots">
                                    <span></span><span></span><span></span>
                                </div>
                                <span class="typing-label">Typing...</span>
                            </div>
                            <div id="attachment-preview" class="attachment-preview hidden"></div>
                            <form id="chat-send-message-form" method="post" enctype="multipart/form-data" class="grid grid-cols-12 gap-2 px-3 content-center items-center">
                                <div >
                                    <label for="attachment" class="cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                                          </svg>                                          
                                    </label>
                                    <input type="file" name="attachment" id="attachment" multiple accept="image/*" class="hidden">
                                </div>
                                <div  class="col-span-10">
                                    <textarea type="text" id="chat-message-input" name="message" placeholder="Type a message" autocomplete="off" class="w-full border-none outline-none h-auto bg-transparent  content-center placeholder:text-soft-color"></textarea>
                                </div>
                                <div class="flex items-center justify-end">
                                    <button type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                                          </svg>                                          
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- chat-form-container end -->
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <!-- import socket io client from cdn -->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="./js/app.js"></script>

    <div id="attachment-viewer" class="attachment-viewer">
        <div class="attachment-viewer-card">
            <button id="attachment-viewer-close" class="attachment-viewer-close" type="button">×</button>
            <img id="attachment-viewer-img" src="" alt="Attachment preview">
        </div>
    </div>

    <script>
        const conversationDataset = <%- JSON.stringify(data || []) %>;
        const conversation_content_wrapper = document.querySelector("#conversation-content-wrapper");
        const chat_message_title_container = document.querySelector("#chat-message-title-container");
        const chat_message_avatar_container = document.querySelector("#chat-message-avatar-container");
        const chat_message_title_name = document.querySelector("#chat-message-title-name");
        const user_online_status_text_container = document.querySelector("#user-online-status-text-container");
        const chat_message_list = document.querySelector("#chat-message-list");
        const pinned_message_container = document.querySelector("#pinned-message-container");
        const chat_form_container = document.querySelector("#chat-form-container");
        const chat_back_btn = document.querySelector("#chat-back-btn");
        const main_content_wrapper = document.querySelector(".main-content-wrapper");
        const attachment_input = document.getElementById("attachment");
        const attachment_preview = document.getElementById("attachment-preview");
        const chat_message_input = document.getElementById("chat-message-input");
        const message_search_input = document.getElementById("message-search-input");
        const chat_message_block_container = document.querySelector(".chat-message-block-container");
        const blocked_message_form_container = document.querySelector(".blocked-message-form-container");
        const leave_group_item = document.querySelector("#leave-group-item");
        const clear_message_item = document.querySelector("#clear-message-item");
        const add_members_icon = document.querySelector("#add-members-icon");
        const inline_add_member_panel = document.querySelector("#inline-add-member-panel");
        const inline_add_member_input = document.querySelector("#inline-add-member-input");
        const inline_add_member_results = document.querySelector("#inline-add-member-results");
        const inline_add_member_close = document.querySelector("#inline-add-member-close");
        const attachment_viewer = document.querySelector("#attachment-viewer");
        const attachment_viewer_img = document.querySelector("#attachment-viewer-img");
        const attachment_viewer_close = document.querySelector("#attachment-viewer-close");
        const currentUserName = <%- JSON.stringify(loggedInUser?.username || "") %>;
        const typing_input_indicator = document.querySelector("#typing-indicator-input");

        const currentUserId = window.loggedInUserId || document.querySelector("meta[name=\"userId\"]")?.getAttribute("content");
        const socketRef = typeof socket !== "undefined" ? socket : io();
        let onlineUsersList = [];

        let current_conversation_id = null;
        let participant = null;
        let currentConversation = null;
        let pagination = { loading: false, hasMore: false, nextBefore: null };
        let pinnedMessage = null;
        let attachmentFiles = [];
        let inlineMemberTimer = null;
        let typingTimeout = null;
        const typingByConversation = new Map();

        socketRef.on("conversation_created", ({ conversation }) => {
            if (!conversation || !conversation._id) return;
            const isMember =
                String(conversation.creator?.id) === String(currentUserId) ||
                String(conversation.participant?.id) === String(currentUserId) ||
                (conversation.members || []).some((member) => String(member.id) === String(currentUserId));
            if (!isMember) return;
            const exists = (conversationDataset || []).some((item) => String(item._id) === String(conversation._id));
            if (!exists) {
                conversationDataset.unshift(conversation);
                renderConversationList(conversationDataset);
            }
        });

        socketRef.on("online-users", (onlineUserIds) => {
            onlineUsersList = onlineUserIds || [];
            updateOnlineStatusText();
            updateConversationStatusBadges();
        });

        socketRef.on("typing", ({ conversationId, senderId, senderName, isGroup }) => {
            if (!conversationId || senderId === currentUserId) return;
            const entry = typingByConversation.get(conversationId) || {
                senders: new Map(),
                isGroup: !!isGroup,
            };
            entry.isGroup = !!isGroup;
            entry.senders.set(senderId, senderName || "Someone");
            typingByConversation.set(conversationId, entry);
            updateTypingForConversation(conversationId);
        });

        socketRef.on("stop-typing", ({ conversationId, senderId }) => {
            if (!conversationId || !typingByConversation.has(conversationId)) return;
            const entry = typingByConversation.get(conversationId);
            entry.senders.delete(senderId);
            if (entry.senders.size === 0) {
                typingByConversation.delete(conversationId);
            } else {
                typingByConversation.set(conversationId, entry);
            }
            updateTypingForConversation(conversationId);
        });

        function toggleChatPanel(show) {
            if (!main_content_wrapper) return;
            if (show) {
                main_content_wrapper.classList.add("show-chat-panel");
            } else {
                main_content_wrapper.classList.remove("show-chat-panel");
            }
        }

        if (chat_back_btn) {
            chat_back_btn.addEventListener("click", () => toggleChatPanel(false));
        }

        if (add_members_icon) {
            add_members_icon.addEventListener("click", (event) => {
                event.preventDefault();
                event.stopPropagation();
                if (!current_conversation_id || !participant) return;
                openInlineAddMember();
            });
        }

        function openInlineAddMember() {
            if (!inline_add_member_panel || !inline_add_member_input) return;
            inline_add_member_panel.classList.remove("hidden");
            inline_add_member_input.value = "";
            if (inline_add_member_results) inline_add_member_results.innerHTML = "";
            if (chat_message_list) {
                chat_message_list.scrollTop = 0;
            }
            inline_add_member_input.focus();
        }

        function closeInlineAddMember() {
            if (!inline_add_member_panel) return;
            inline_add_member_panel.classList.add("hidden");
            if (inline_add_member_results) inline_add_member_results.innerHTML = "";
        }

        function ensureTypingIndicator() {
            if (!chat_message_list) return null;
            const indicator = document.querySelector("#typing-indicator");
            if (indicator && !chat_message_list.contains(indicator)) {
                chat_message_list.appendChild(indicator);
            }
            return indicator;
        }

        function setConversationPreview(conversationId, text, isTyping = false) {
            const previewEl = document.querySelector(
                `.conversation-item[data-conversation-id="${conversationId}"] .conversation-preview`
            );
            if (!previewEl) return;
            previewEl.textContent = text;
            previewEl.classList.toggle("is-typing", isTyping);
        }

        function restoreConversationPreview(conversationId) {
            const previewEl = document.querySelector(
                `.conversation-item[data-conversation-id="${conversationId}"] .conversation-preview`
            );
            if (!previewEl) return;
            const original = previewEl.getAttribute("data-preview") || "";
            previewEl.textContent = original;
            previewEl.classList.remove("is-typing");
        }

        function getTypingLabel(entry) {
            if (!entry || entry.senders.size === 0) return "";
            if (!entry.isGroup) return "Typing...";
            const names = Array.from(entry.senders.values());
            if (names.length === 1) return `${names[0]} typing...`;
            return `${names[0]} +${names.length - 1} typing...`;
        }

        function updateTypingForConversation(conversationId) {
            const entry = typingByConversation.get(conversationId);
            if (!entry || entry.senders.size === 0) {
                restoreConversationPreview(conversationId);
            } else {
                setConversationPreview(conversationId, getTypingLabel(entry), true);
            }

            if (conversationId === current_conversation_id) {
                const indicator = ensureTypingIndicator();
                if (!indicator) return;
                const labelEl = indicator.querySelector(".typing-label");
                if (!entry || entry.senders.size === 0) {
                    indicator.classList.add("hidden");
                    if (typing_input_indicator) typing_input_indicator.classList.add("hidden");
                } else {
                    indicator.classList.remove("hidden");
                    if (labelEl) labelEl.textContent = getTypingLabel(entry);
                    if (typing_input_indicator) {
                        typing_input_indicator.classList.remove("hidden");
                        const inputLabel = typing_input_indicator.querySelector(".typing-label");
                        if (inputLabel) inputLabel.textContent = getTypingLabel(entry);
                    }
                }
            }
        }

        function applyTypingToList() {
            typingByConversation.forEach((_, conversationId) => {
                updateTypingForConversation(conversationId);
            });
        }

        function emitTypingStatus() {
            if (!current_conversation_id || !currentUserId) return;
            socketRef.emit("typing", {
                conversationId: current_conversation_id,
                senderId: currentUserId,
                senderName: currentUserName,
            });
            clearTimeout(typingTimeout);
            typingTimeout = setTimeout(() => {
                socketRef.emit("stop-typing", {
                    conversationId: current_conversation_id,
                    senderId: currentUserId,
                    senderName: currentUserName,
                });
            }, 1200);
        }

        function emitStopTyping() {
            if (!current_conversation_id || !currentUserId) return;
            socketRef.emit("stop-typing", {
                conversationId: current_conversation_id,
                senderId: currentUserId,
                senderName: currentUserName,
            });
        }

        function getCurrentMemberIds() {
            if (participant?.isGroup && Array.isArray(participant.members)) {
                return participant.members.map((member) => String(member.id));
            }
            const ids = [];
            if (participant?.id) ids.push(String(participant.id));
            if (currentUserId) ids.push(String(currentUserId));
            return ids;
        }

        async function addMemberToConversation(memberId) {
            if (!current_conversation_id || !memberId) return;
            const response = await fetch(`/inbox/conversation/group/${current_conversation_id}/add`, {
                method: "POST",
                body: JSON.stringify({ memberIds: [memberId] }),
                headers: { "content-type": "application/json; charset=UTF-8" },
            });
            const result = await response.json();
            if (!result.errors) {
                toastr.success(result.message || "Member added.");
                setTimeout(() => location.reload(), 100);
            } else {
                toastr.error(result.errors.common.msg);
            }
        }

        async function searchInlineMembers(query) {
            if (!inline_add_member_results) return;
            const response = await fetch("/inbox/search", {
                method: "POST",
                body: JSON.stringify({ user: query }),
                headers: { "content-type": "application/json; charset=UTF-8" },
            });
            const result = await response.json();
            if (result.errors) {
                inline_add_member_results.innerHTML = `<div class="inline-add-member-empty">${result.errors.common.msg}</div>`;
                return;
            }
            const existingIds = new Set(getCurrentMemberIds());
            if (!Array.isArray(result) || result.length === 0) {
                inline_add_member_results.innerHTML = `<div class="inline-add-member-empty">No user found</div>`;
                return;
            }
            inline_add_member_results.innerHTML = result
                .map((user) => {
                    const isExisting = existingIds.has(String(user._id));
                    const avatar = user.avatar
                        ? `<img src="./uploads/avatars/${user.avatar}" alt="${escapeHtml(user.name)}">`
                        : `<div class="inline-add-member-avatar">${escapeHtml(user.name[0] || "?").toUpperCase()}</div>`;
                    return `<div class="inline-add-member-row ${isExisting ? "is-disabled" : ""}" ${isExisting ? "" : `data-user-id="${user._id}"`}>
                                ${avatar}
                                <div class="inline-add-member-name">
                                    <div>${escapeHtml(user.name)}</div>
                                    ${isExisting ? `<span>Already in conversation</span>` : ""}
                                </div>
                            </div>`;
                })
                .join("");
        }

        if (inline_add_member_input) {
            inline_add_member_input.addEventListener("keyup", () => {
                const query = inline_add_member_input.value.trim();
                clearTimeout(inlineMemberTimer);
                if (!query) {
                    if (inline_add_member_results) {
                        inline_add_member_results.innerHTML = `<div class="inline-add-member-empty">Type to search</div>`;
                    }
                    return;
                }
                inlineMemberTimer = setTimeout(() => searchInlineMembers(query), 400);
            });
        }

        if (inline_add_member_close) {
            inline_add_member_close.addEventListener("click", () => closeInlineAddMember());
        }

        if (inline_add_member_results) {
            inline_add_member_results.addEventListener("click", (event) => {
                const row = event.target.closest(".inline-add-member-row");
                if (!row || row.classList.contains("is-disabled")) return;
                const userId = row.getAttribute("data-user-id");
                if (userId) {
                    addMemberToConversation(userId);
                }
            });
        }

        function escapeHtml(text) {
            return String(text || "")
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/\"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }

        function escapeRegex(text) {
            return text.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
        }

        function renderPinnedMessage() {
            if (!pinned_message_container) return;
            if (!pinnedMessage) {
                pinned_message_container.classList.add("hidden");
                pinned_message_container.innerHTML = "";
                return;
            }

            const pinnedText = pinnedMessage.text || "Attachment";
            const attachmentCount = pinnedMessage.attachments?.length || 0;
            const attachmentLabel = attachmentCount ? `${attachmentCount} attachment${attachmentCount > 1 ? "s" : ""}` : "";
            pinned_message_container.innerHTML = `
                <div class="pinned-content">
                    <div class="pinned-label">Pinned</div>
                    <div class="pinned-text">${escapeHtml(pinnedText)}</div>
                    ${attachmentLabel ? `<div class="pinned-meta">${escapeHtml(attachmentLabel)}</div>` : ""}
                </div>
                <button class="pinned-remove-btn" type="button" aria-label="Unpin message">×</button>
            `;
            pinned_message_container.classList.remove("hidden");
        }

        function setPinnedMessage(message) {
            if (pinnedMessage && message && pinnedMessage.id === message.id) {
                pinnedMessage = null;
            } else {
                pinnedMessage = message;
            }
            renderPinnedMessage();
        }

        function closeMessageMenus() {
            document.querySelectorAll(".message-menu.active").forEach((menu) => {
                menu.classList.remove("active");
            });
        }

        function getMessageData(row) {
            if (!row) return null;
            const attachments = row.dataset.messageAttachments
                ? JSON.parse(decodeURIComponent(row.dataset.messageAttachments))
                : [];
            return {
                id: row.dataset.messageId,
                text: row.dataset.messageText || "",
                attachments,
            };
        }

        async function copyToClipboard(text) {
            if (!text) return false;
            if (navigator.clipboard?.writeText) {
                await navigator.clipboard.writeText(text);
                return true;
            }
            const textarea = document.createElement("textarea");
            textarea.value = text;
            textarea.setAttribute("readonly", "");
            textarea.style.position = "absolute";
            textarea.style.left = "-9999px";
            document.body.appendChild(textarea);
            textarea.select();
            const success = document.execCommand("copy");
            document.body.removeChild(textarea);
            return success;
        }

        function syncAttachmentInput() {
            if (!attachment_input) return;
            const dataTransfer = new DataTransfer();
            attachmentFiles.forEach((file) => dataTransfer.items.add(file));
            attachment_input.files = dataTransfer.files;
        }

        function renderAttachmentPreview() {
            if (!attachment_preview) return;
            if (!attachmentFiles.length) {
                attachment_preview.innerHTML = "";
                attachment_preview.classList.add("hidden");
                return;
            }
            const previews = attachmentFiles
                .map((file, index) => {
                    const url = URL.createObjectURL(file);
                    return `<div class="attachment-thumb">
                                <img src="${url}" alt="${escapeHtml(file.name)}" onload="URL.revokeObjectURL('${url}')">
                                <button class="attachment-remove-btn" type="button" data-index="${index}" aria-label="Remove attachment">×</button>
                            </div>`;
                })
                .join("");
            attachment_preview.innerHTML = previews;
            attachment_preview.classList.remove("hidden");
        }

        function getConversationDisplay(conversation) {
            if (!conversation) return null;
            if (conversation.isGroup) {
                const members = conversation.members || [];
                return {
                    id: conversation._id,
                    isGroup: true,
                    name: conversation.name || "Group",
                    avatar: conversation.avatar || null,
                    memberCount: members.length,
                };
            }
            const isCreator = String(conversation.creator?.id) === String(currentUserId);
            const other = isCreator ? conversation.participant : conversation.creator;
            if (!other) return null;
            return {
                id: conversation._id,
                isGroup: false,
                name: other.name,
                avatar: other.avatar || null,
                participantId: other.id,
            };
        }

        function renderConversationList(list) {
            if (!conversation_content_wrapper) return;
            if (!list || list.length === 0) {
                conversation_content_wrapper.innerHTML = `<div class="flex flex-col items-center gap-3 justify-center text-center p-2 sm:px-3 py-2 h-full text-soft-color hover-bg-light-color cursor-pointer">
                        <div>
                            <img src="./images/no-conversation.png" alt="" class="w-32">
                        </div>
                        <div>
                            <h3 class="text-md font-bold">No conversation yet</h3>
                            <p>Create conversation to contact others</p>
                        </div>
                    </div>`;
                return;
            }

            const html = list
                .map((conversation) => {
                    const display = getConversationDisplay(conversation);
                    if (!display) return "";
                    const previewText = conversation.message?.content || (display.isGroup ? "Group created." : "You are joining this conversation.");
                    const trimmed = previewText.length > 40 ? `${previewText.slice(0, 40)}...` : previewText;
                    const isActive = String(current_conversation_id) === String(conversation._id);
                    const initials = display.name ? display.name[0].toUpperCase() : "?";
                    const avatarHtml = display.avatar
                        ? `<img src="./uploads/avatars/${display.avatar}" alt="${escapeHtml(display.name)}" class="w-12 h-12 rounded-full">`
                        : `<div class="bg-light-color hover-bg-dark-color flex items-center justify-center text-neutral-content rounded-full w-12 h-12">
                                <span class="text-2xl">${escapeHtml(initials)}</span>
                           </div>`;
                    const badgeHtml = display.isGroup
                        ? `<span class="group-count-badge" title="Members">${display.memberCount}</span>`
                        : `<span class="user-status-badge absolute bottom-0 right-0 inline-block w-3 h-3 bg-gray-400 border-2 border-current rounded-full" data-user-id="${display.participantId}"></span>`;
                    return `
                    <div class="conversation-item ${isActive ? "active" : ""}" data-conversation-id="${conversation._id}" data-is-group="${display.isGroup}" data-participant-id="${display.participantId || ""}" data-participant-name="${escapeHtml(display.name)}" data-participant-avatar="${display.avatar || ""}" data-member-count="${display.memberCount || 0}">
                        <div class="conversation-avatar">
                            ${avatarHtml}
                            ${badgeHtml}
                        </div>
                        <div class="conversation-meta">
                            <div class="conversation-top">
                                <h3 class="conversation-name">${escapeHtml(display.name)}</h3>
                                <div class="conversation-time">${moment(conversation.message?.date_time || conversation.updatedAt).fromNow(true)}</div>
                            </div>
                            <div class="conversation-preview" data-preview="${escapeHtml(trimmed)}">${escapeHtml(trimmed)}</div>
                            ${display.isGroup ? `<div class="conversation-sub">${display.memberCount} members</div>` : ""}
                        </div>
                    </div>`;
                })
                .join("");

            conversation_content_wrapper.innerHTML = html;
            updateConversationStatusBadges();
            applyTypingToList();
        }

        function updateConversationStatusBadges() {
            const badges = document.querySelectorAll(".user-status-badge");
            badges.forEach((badge) => {
                const userId = badge.dataset.userId;
                if (!userId) return;
                const isOnline = onlineUsersList.includes(userId);
                badge.style.background = isOnline ? "#22c55e" : "#9ca3af";
            });
        }

        renderConversationList(conversationDataset);

        conversation_content_wrapper?.addEventListener("click", (event) => {
            const item = event.target.closest(".conversation-item");
            if (!item) return;
            const conversationId = item.dataset.conversationId;
            const isGroup = item.dataset.isGroup === "true";
            const participantId = item.dataset.participantId || null;
            const participantName = item.dataset.participantName;
            const participantAvatar = item.dataset.participantAvatar || null;
            const memberCount = parseInt(item.dataset.memberCount || "0", 10);
            openConversation(conversationId, {
                isGroup,
                participantId,
                name: participantName,
                avatar: participantAvatar,
                memberCount,
            });
        });

        function filterConversationDataset() {
            const input = document.querySelector(".conversation-search-input");
            const query = input ? input.value.toLowerCase() : "";
            const filtered = (conversationDataset || []).filter((item) => {
                if (query === "") return true;
                if (item.isGroup && item.name) {
                    return item.name.toLowerCase().includes(query);
                }
                return (
                    item.creator?.name?.toLowerCase().includes(query) ||
                    item.participant?.name?.toLowerCase().includes(query)
                );
            });
            renderConversationList(filtered);
        }

        function updateOnlineStatusText() {
            if (!participant) return;
            if (participant.isGroup) {
                const count = participant.members ? participant.members.length : currentConversation?.memberCount || 0;
                user_online_status_text_container.innerHTML = `<span class="text-sm text-dark-color">${count} members</span>`;
                return;
            }
            const isOnline = onlineUsersList.includes(participant.id);
            user_online_status_text_container.innerHTML = `<span class="text-sm text-dark-color user-online-status-text user-online-status-text${participant.id}" data-user-id="${participant.id}">${isOnline ? "Online" : "Offline"}</span>`;
        }

        function updateConversationMenu() {
            if (!participant) return;
            if (participant.isGroup) {
                if (leave_group_item) leave_group_item.style.display = "flex";
                if (add_members_icon) add_members_icon.classList.remove("hidden");
                if (chat_message_block_container) chat_message_block_container.innerHTML = "";
                if (blocked_message_form_container) blocked_message_form_container.classList.add("hidden");
                if (chat_form_container) chat_form_container.classList.remove("hidden");
                if (clear_message_item) {
                    const isAdmin = (participant.admins || []).some((id) => String(id) === String(currentUserId));
                    clear_message_item.style.display = isAdmin ? "flex" : "none";
                    if (chat_message_title_name) {
                        chat_message_title_name.classList.toggle("chat-title-editable", isAdmin);
                    }
                }
            } else {
                if (leave_group_item) leave_group_item.style.display = "none";
                if (add_members_icon) add_members_icon.classList.remove("hidden");
                if (clear_message_item) clear_message_item.style.display = "flex";
                if (chat_message_title_name) {
                    chat_message_title_name.classList.remove("chat-title-editable");
                }
            }
        }

        function renderMessage(message) {
            const isOwn = String(message.sender.id) === String(currentUserId);
            const avatar = message.sender.avatar
                ? `<img src="./uploads/avatars/${message.sender.avatar}" alt="${escapeHtml(message.sender.name)}" class="w-8 h-8 rounded-full">`
                : `<div class="bg-light-color hover-bg-dark-color flex items-center justify-center text-neutral-content rounded-full w-8 h-8">
                        <span class="text-xl">${escapeHtml(message.sender.name[0]).toUpperCase()}</span>
                   </div>`;

            const attachments = (message.attachments || [])
                .map((attachment) => `<img src="./uploads/attachments/${attachment}" alt="" class="rounded-md h-40 w-full object-cover">`)
                .join("");

            const attachmentGrid = attachments
                ? `<div class="attachments grid gap-2 mt-2 bg-light-color/50 p-2 rounded-md">
                        ${attachments}
                   </div>`
                : "";

            const rawText = String(message.text || "");
            const messageText = escapeHtml(rawText);
            const messageId = message._id || message.message_id || "";
            const time = moment(message.createdAt || message.date_time).fromNow();
            const showSender = participant?.isGroup && !isOwn;
            const attachmentsEncoded = encodeURIComponent(JSON.stringify(message.attachments || []));

            return `
                <div class="message-row ${isOwn ? "is-own" : ""}" data-message-id="${messageId}" data-message-text="${escapeHtml(rawText)}" data-message-attachments="${attachmentsEncoded}">
                    ${isOwn ? "" : avatar}
                    <div class="message-bubble">
                        ${showSender ? `<div class="message-sender">${escapeHtml(message.sender.name)}</div>` : ""}
                        ${messageText ? `<div class="message-text" data-raw="${messageText}">${messageText}</div>` : ""}
                        ${attachmentGrid}
                        <div class="message-meta">
                            <span>${time}</span>
                            <div class="message-actions">
                                <button class="message-menu-btn" type="button" data-message-id="${messageId}" aria-label="Message options">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
                                    </svg>
                                </button>
                                <div class="message-menu dropdown" data-message-id="${messageId}">
                                    <button class="message-menu-item" data-action="copy" type="button">Copy</button>
                                    ${isOwn ? `<button class="message-menu-item" data-action="delete" type="button">Delete</button>` : ""}
                                    <button class="message-menu-item" data-action="pin" type="button">Pin</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>`;
        }

        async function loadMessages(reset = false) {
            if (!current_conversation_id || pagination.loading) return;
            if (!reset && !pagination.hasMore) return;

            pagination.loading = true;
            const beforeParam = reset || !pagination.nextBefore ? "" : `&before=${encodeURIComponent(pagination.nextBefore)}`;
            const response = await fetch(`/inbox/message/${current_conversation_id}?limit=20${beforeParam}`);
            const result = await response.json();

            if (!result.errors && result.data) {
                if (reset) {
                    chat_message_list.innerHTML = "";
                }

                const messages = result.data.messages || [];
                const html = messages.map(renderMessage).join("");

                if (messages.length === 0 && reset) {
                    chat_message_list.innerHTML = `<div class="message-row message-nothing flex gap-2 text-soft-color items-center justify-center h-full">
                                <h1 class="text-2xl font-bold">You don't have message</h1>
                            </div>`;
                } else if (reset) {
                    chat_message_list.insertAdjacentHTML("beforeend", html);
                } else {
                    const prevScrollHeight = chat_message_list.scrollHeight;
                    const prevScrollTop = chat_message_list.scrollTop;
                    chat_message_list.insertAdjacentHTML("afterbegin", html);
                    chat_message_list.scrollTop = chat_message_list.scrollHeight - prevScrollHeight + prevScrollTop;
                }

                ensureTypingIndicator();

                pagination.hasMore = result.pagination?.hasMore || false;
                pagination.nextBefore = result.pagination?.nextBefore || null;

                participant = result.data.participant;
                currentConversation = participant;
                updateOnlineStatusText();
                updateBlockUnblockUi(currentUserId, result.participantUser?.blockable);
                updateConversationMenu();

                if (reset) {
                    chat_message_title_container.classList.remove("invisible");
                    chat_form_container.classList.remove("invisible");
                    chat_message_title_name.textContent = participant.name;
                    chat_message_avatar_container.innerHTML = participant.avatar
                        ? `<img src="./uploads/avatars/${participant.avatar}" alt="${escapeHtml(participant.name)}" class="w-10 h-10 rounded-full">`
                        : `<div class="bg-dark-color flex items-center justify-center text-neutral-content rounded-full w-10 h-10">
                                <span class="text-3xl">${escapeHtml(participant.name[0]).toUpperCase()}</span>
                           </div>`;
                    toggleChatPanel(true);
                    chat_message_list.scrollTop = chat_message_list.scrollHeight;
                }
            } else if (result.errors?.common?.msg) {
                toastr.warning(result.errors.common.msg);
            }
            pagination.loading = false;
        }

        function openConversation(conversationId, meta) {
            current_conversation_id = conversationId;
            currentConversation = meta;
            pinnedMessage = null;
            renderPinnedMessage();
            participant = {
                id: meta.participantId,
                name: meta.name,
                avatar: meta.avatar || null,
                isGroup: meta.isGroup,
                memberCount: meta.memberCount || 0,
            };
            pagination = { loading: false, hasMore: true, nextBefore: null };
            renderConversationList(conversationDataset);
            loadMessages(true);
            updateTypingForConversation(conversationId);
        }

        chat_message_list?.addEventListener("scroll", () => {
            if (chat_message_list.scrollTop <= 40) {
                loadMessages(false);
            }
        });

        if (chat_message_title_name) {
            chat_message_title_name.addEventListener("click", () => {
                if (!participant?.isGroup) return;
                const isAdmin = (participant.admins || []).some((id) => String(id) === String(currentUserId));
                if (!isAdmin) {
                    toastr.warning("Only admins can rename group.");
                    return;
                }
                const currentName = participant.name || "";
                const input = document.createElement("input");
                input.type = "text";
                input.value = currentName;
                input.className = "group-title-input";
                chat_message_title_name.replaceWith(input);
                input.focus();
                input.select();

                const save = async () => {
                    const nextName = input.value.trim();
                    if (!nextName || nextName === currentName) {
                        input.replaceWith(chat_message_title_name);
                        chat_message_title_name.textContent = currentName;
                        return;
                    }
                    const response = await fetch(`/inbox/conversation/group/${current_conversation_id}/name`, {
                        method: "PATCH",
                        body: JSON.stringify({ name: nextName }),
                        headers: { "content-type": "application/json; charset=UTF-8" },
                    });
                    const result = await response.json();
                    if (!result.errors) {
                        participant.name = nextName;
                        chat_message_title_name.textContent = nextName;
                        toastr.success(result.message || "Group name updated.");
                    } else {
                        toastr.error(result.errors.common.msg);
                    }
                    input.replaceWith(chat_message_title_name);
                };

                input.addEventListener("blur", save);
                input.addEventListener("keydown", (event) => {
                    if (event.key === "Enter") {
                        event.preventDefault();
                        save();
                    }
                });
            });
        }

        socketRef.on("new_message", (data) => {
            const conversationId = data.message.conversation_id;
            if (conversationId === current_conversation_id) {
                const html = renderMessage({
                    _id: data.message.message_id,
                    text: data.message.message,
                    attachments: data.message.attachments || [],
                    sender: data.message.sender,
                    createdAt: data.message.date_time,
                });
                const wasNearBottom =
                    chat_message_list.scrollTop + chat_message_list.clientHeight >=
                    chat_message_list.scrollHeight - 50;
                chat_message_list.insertAdjacentHTML("beforeend", html);
                if (wasNearBottom) {
                    chat_message_list.scrollTop = chat_message_list.scrollHeight;
                }
            }
            const previewEl = document.querySelector(`.conversation-item[data-conversation-id="${conversationId}"] .conversation-preview`);
            const timeEl = document.querySelector(`.conversation-item[data-conversation-id="${conversationId}"] .conversation-time`);
            if (previewEl) {
                const previewText = data.message.message || "Attachment";
                previewEl.textContent = previewText;
                previewEl.setAttribute("data-preview", previewText);
                previewEl.classList.remove("is-typing");
            }
            if (timeEl) timeEl.textContent = moment(data.message.date_time).fromNow(true);
            if (typingByConversation.has(conversationId)) {
                const entry = typingByConversation.get(conversationId);
                entry.senders.delete(String(data.message.sender.id));
                if (entry.senders.size === 0) {
                    typingByConversation.delete(conversationId);
                } else {
                    typingByConversation.set(conversationId, entry);
                }
                updateTypingForConversation(conversationId);
            }
        });

        const chat_send_message_form = document.querySelector("#chat-send-message-form");
        chat_send_message_form?.addEventListener("submit", async (event) => {
            event.preventDefault();
            if (!current_conversation_id || !participant) return;
            emitStopTyping();

            const formData = new FormData(chat_send_message_form);
            formData.append("conversation_id", current_conversation_id);
            if (!participant.isGroup) {
                formData.append("receiver_id", participant.id);
                formData.append("receiver_name", participant.name);
                formData.append("receiver_avatar", participant.avatar || null);
            }

            const response = await fetch("/inbox/message", {
                method: "POST",
                body: formData,
            });

            const result = await response.json();

            if (!result.errors) {
                chat_send_message_form.reset();
                clearAttachmentPreview();
            } else {
                toastr.warning(result.errors.common.msg);
            }
        });

        if (chat_message_input && chat_send_message_form) {
            chat_message_input.addEventListener("keydown", (event) => {
                if (event.key === "Enter" && !event.shiftKey) {
                    event.preventDefault();
                    chat_send_message_form.requestSubmit();
                }
            });
            chat_message_input.addEventListener("input", () => {
                emitTypingStatus();
            });
            chat_message_input.addEventListener("blur", () => {
                emitStopTyping();
            });
        }

        chat_message_list?.addEventListener("click", async (event) => {
            const menuBtn = event.target.closest(".message-menu-btn");
            if (menuBtn) {
                const menu = menuBtn.parentElement?.querySelector(".message-menu");
                const isActive = menu?.classList.contains("active");
                closeMessageMenus();
                if (!isActive && menu) {
                    menu.classList.add("active");
                }
                return;
            }

            const menuItem = event.target.closest(".message-menu-item");
            if (!menuItem) return;
            const action = menuItem.dataset.action;
            const row = menuItem.closest(".message-row");
            const data = getMessageData(row);
            if (!data) return;
            closeMessageMenus();

            if (action === "copy") {
                const text = data.text?.trim();
                if (!text) {
                    toastr.warning("No text to copy.");
                    return;
                }
                try {
                    const ok = await copyToClipboard(text);
                    ok ? toastr.success("Message copied.") : toastr.error("Copy failed.");
                } catch (err) {
                    toastr.error("Copy failed.");
                }
                return;
            }

            if (action === "delete") {
                if (!data.id) return;
                const response = await fetch(`/inbox/message/single/${data.id}`, {
                    method: "DELETE",
                });
                const result = await response.json();
                if (!result.errors) {
                    if (row) row.remove();
                    if (pinnedMessage?.id === data.id) {
                        pinnedMessage = null;
                        renderPinnedMessage();
                    }
                } else {
                    toastr.error(result.errors.common.msg);
                }
                return;
            }

            if (action === "pin") {
                setPinnedMessage(data);
            }
        });

        async function deleteMeassage() {
            if (!current_conversation_id) {
                toastr.warning("You don't have select any conversation to delete messages.");
                return;
            }
            if (confirm("Are you sure to delete this messages!") !== true) return;
            const response = await fetch(`/inbox/message/delete/${current_conversation_id}`, {
                method: "DELETE",
            });
            const result = await response.json();
            if (!result.errors) {
                toastr.success(result.message);
                chat_message_list.innerHTML = `<div class="message-row message-nothing flex gap-2 text-soft-color items-center justify-center h-full">
                            <h1 class="text-2xl font-bold">You don't have message</h1>
                        </div>`;
            } else {
                toastr.error(result.errors.common.msg);
            }
        }

        async function clearMessage() {
            if (!current_conversation_id) {
                toastr.warning("You don't have select any conversation to clear messages.");
                return;
            }
            if (confirm("Are you sure to clear this messages!") !== true) return;
            const response = await fetch(`/inbox/message/clear/${current_conversation_id}`, {
                method: "DELETE",
            });
            const result = await response.json();
            if (!result.errors) {
                toastr.success(result.message);
                chat_message_list.innerHTML = `<div class="message-row message-nothing flex gap-2 text-soft-color items-center justify-center h-full">
                            <h1 class="text-2xl font-bold">You don't have message</h1>
                        </div>`;
            } else {
                toastr.error(result.errors.common.msg);
            }
        }

        async function leaveGroup() {
            if (!current_conversation_id) return;
            if (confirm("Leave this group?") !== true) return;
            const response = await fetch(`/inbox/conversation/group/${current_conversation_id}/leave`, {
                method: "POST",
            });
            const result = await response.json();
            if (!result.errors) {
                toastr.success(result.message || "Left the group.");
                setTimeout(() => location.reload(), 100);
            } else {
                toastr.error(result.errors.common.msg);
            }
        }

        async function userBlock() {
            if (!participant || participant.isGroup) {
                toastr.warning("Please provide a valid person.");
                return;
            }
            const response = await fetch("/users/block", {
                method: "POST",
                body: JSON.stringify({ user_id: participant.id }),
                headers: { "Content-type": "application/json; charset=UTF-8" },
            });
            const result = await response.json();
            if (!result.errors) {
                toastr.success(result.message);
                updateBlockUnblockUi(currentUserId, result.participantUser?.blockable);
            } else {
                toastr.error(result.errors.common.msg);
            }
        }

        async function userUnblock() {
            if (!participant || participant.isGroup) {
                toastr.warning("Please provide a valid person.");
                return;
            }
            const response = await fetch("/users/unblock", {
                method: "POST",
                body: JSON.stringify({ user_id: participant.id }),
                headers: { "Content-type": "application/json; charset=UTF-8" },
            });
            const result = await response.json();
            if (!result.errors) {
                toastr.success(result.message);
                updateBlockUnblockUi(currentUserId, result.participantUser?.blockable);
            } else {
                toastr.error(result.errors.common.msg);
            }
        }

        function updateBlockUnblockUi(loggedInUserId, blockable) {
            if (!chat_message_block_container || !blocked_message_form_container) return;
            if (participant?.isGroup) {
                chat_message_block_container.innerHTML = "";
                blocked_message_form_container.innerHTML = "";
                chat_form_container.classList.remove("hidden");
                blocked_message_form_container.classList.add("hidden");
                return;
            }
            const blocked = loggedInUserId && blockable && blockable.some((blockedObj) => String(blockedObj.id) === String(loggedInUserId));
            if (blocked) {
                chat_message_block_container.innerHTML = `<div class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer" onclick="userUnblock()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636" />
                            </svg>Unblock</div>`;
                blocked_message_form_container.innerHTML = `<h4 class="text-soft-color">You blocked this user.</h4>`;
                chat_form_container.classList.add("hidden");
                blocked_message_form_container.classList.remove("hidden");
            } else {
                chat_message_block_container.innerHTML = `<div class="flex items-center gap-3 px-4 py-1 hover-bg-dark-color cursor-pointer" onclick="userBlock()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636" />
                            </svg>Block</div>`;
                blocked_message_form_container.innerHTML = "";
                chat_form_container.classList.remove("hidden");
                blocked_message_form_container.classList.add("hidden");
            }
        }

        if (message_search_input) {
            message_search_input.addEventListener("input", () => {
                const query = message_search_input.value.trim().toLowerCase();
                const rows = chat_message_list.querySelectorAll(".message-row:not(.message-nothing)");
                rows.forEach((row) => {
                    const textEl = row.querySelector(".message-text");
                    if (!textEl) return;
                    const raw = textEl.dataset.raw || textEl.textContent;
                    textEl.dataset.raw = raw;
                    textEl.innerHTML = escapeHtml(raw);
                });
                if (!query) return;

                let firstMatch = null;
                rows.forEach((row) => {
                    const textEl = row.querySelector(".message-text");
                    if (!textEl) return;
                    const raw = textEl.dataset.raw || textEl.textContent;
                    if (raw.toLowerCase().includes(query)) {
                        const highlighted = raw.replace(new RegExp(escapeRegex(query), "gi"), (match) => `<span class="message-highlight">${match}</span>`);
                        textEl.innerHTML = highlighted;
                        if (!firstMatch) firstMatch = row;
                    }
                });
                if (firstMatch) {
                    firstMatch.scrollIntoView({ behavior: "smooth", block: "center" });
                }
            });
        }

        function clearAttachmentPreview() {
            if (!attachment_preview) return;
            attachment_preview.innerHTML = "";
            attachment_preview.classList.add("hidden");
            attachmentFiles = [];
            if (attachment_input) {
                attachment_input.value = "";
            }
        }

        if (attachment_input) {
            attachment_input.addEventListener("change", () => {
                attachmentFiles = Array.from(attachment_input.files || []);
                if (!attachmentFiles.length) {
                    clearAttachmentPreview();
                    return;
                }
                renderAttachmentPreview();
            });
        }

        if (attachment_preview) {
            attachment_preview.addEventListener("click", (event) => {
                const removeBtn = event.target.closest(".attachment-remove-btn");
                if (!removeBtn) return;
                const index = Number(removeBtn.dataset.index);
                if (Number.isNaN(index)) return;
                attachmentFiles.splice(index, 1);
                syncAttachmentInput();
                renderAttachmentPreview();
            });
        }

        function openAttachmentViewer(src) {
            if (!attachment_viewer || !attachment_viewer_img || !src) return;
            attachment_viewer_img.src = src;
            attachment_viewer.classList.add("show");
        }

        function closeAttachmentViewer() {
            if (!attachment_viewer || !attachment_viewer_img) return;
            attachment_viewer.classList.remove("show");
            attachment_viewer_img.src = "";
        }

        if (chat_message_list) {
            chat_message_list.addEventListener("click", (event) => {
                const img = event.target.closest(".attachments img");
                if (img) {
                    openAttachmentViewer(img.getAttribute("src"));
                }
            });
        }

        if (attachment_preview) {
            attachment_preview.addEventListener("click", (event) => {
                const img = event.target.closest(".attachment-thumb img");
                if (img) {
                    openAttachmentViewer(img.getAttribute("src"));
                }
            });
        }

        if (attachment_viewer_close) {
            attachment_viewer_close.addEventListener("click", closeAttachmentViewer);
        }

        if (attachment_viewer) {
            attachment_viewer.addEventListener("click", (event) => {
                if (event.target.id === "attachment-viewer") {
                    closeAttachmentViewer();
                }
            });
        }

        if (pinned_message_container) {
            pinned_message_container.addEventListener("click", (event) => {
                if (event.target.closest(".pinned-remove-btn")) {
                    pinnedMessage = null;
                    renderPinnedMessage();
                }
            });
        }

        document.addEventListener("click", (event) => {
            if (!event.target.closest(".message-actions")) {
                closeMessageMenus();
            }
            if (
                inline_add_member_panel &&
                !inline_add_member_panel.classList.contains("hidden") &&
                !event.target.closest("#inline-add-member-panel") &&
                !event.target.closest("#add-members-icon")
            ) {
                closeInlineAddMember();
            }
        });
</script>
</body>
</html>




